@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.btn {
  padding: 1rem;
  background-color: lime;
  border: 1px solid lime;
  border-radius: 4px;
}
